## 불리언 연산

numpy 불리언연산을 처리하면 논리 표현으로 표현한다.

python에서는 True는 1, False는 0으로 인식되므로 합산시 숫자로 처리가 가능

In [56]:
lon_min, lon_max = min(lon), max(lon)
lat_min, lat_max = min(lat), max(lat)

lon_min, lon_max = -73.98330, -73.98025
lat_min, lat_max =  40.76724, 40.76871
print(lon_min, lon_max)
print(lat_min, lat_max)

(-73.9833, -73.98025)
(40.76724, 40.76871)

In [57]:
in_lon = (lon_min <= lon) & (lon <= lon_max)
print(in_lon)

[False False False ..., False False False]

In [58]:
in_lon.sum()

69163

In [59]:
in_lat = (lat_min <= lat) & (lat <= lat_max)
print(in_lat)
print(in_lat.sum())

[False False False ..., False False False]
16110

In [60]:
in_lonlat = in_lon & in_lat
print(in_lonlat)
print(in_lonlat.sum())

[False False False ..., False False False]
3998

In [64]:
# np.nonzero()는 non zero 값만 추출해서 tuple로 보관
non_lonlat = np.nonzero(in_lonlat)
print(non_lonlat[0])
print(type(non_lonlat))
print(non_lonlat)

[   901   1011   1066 ..., 845749 845903 846080]
<type 'tuple'>
(array([   901,   1011,   1066, ..., 845749, 845903, 846080]),)

In [1]:
import numpy as np
arr = np.random.randn(5,5)
arr1 = np.random.randn(5,5)
print(arr < arr1)

print(np.logical_and.reduce(arr < arr1))

print((arr < arr1).all())

[[ True False False  True  True]
 [False False False False  True]
 [ True  True  True  True  True]
 [ True  True False False False]
 [False False False False  True]]
[False False False False False]
False