In [1]:
import numpy as np

# 넘파이 배열 내의 값이 nan일 때 이를 제외하고 처리

In [2]:
for i in dir(np) :
    if i.startswith("nan") :
        print(i)

nan
nan_to_num
nanargmax
nanargmin
nancumprod
nancumsum
nanmax
nanmean
nanmedian
nanmin
nanpercentile
nanprod
nanstd
nansum
nanvar

In [3]:
a = np.array([1,2,np.nan,4])

In [4]:
a

array([  1.,   2.,  nan,   4.])

## 최대값과 최소값 구하기

In [7]:
np.min(a)

nan

In [5]:
np.nanmin(a)

1.0

In [8]:
np.max(a)

nan

In [6]:
np.nanmax(a)

4.0

## 합산이나 곱하기

In [9]:
np.sum(a)

nan

In [10]:
np.nansum(a)

7.0

In [11]:
np.prod(a)

nan

In [12]:
np.nanprod(a)

8.0

In [13]:
np.cumsum(a)

array([  1.,   3.,  nan,  nan])

In [14]:
np.nancumsum(a)

array([ 1.,  3.,  3.,  7.])

In [15]:
np.cumprod(a)

array([  1.,   2.,  nan,  nan])

In [16]:
np.nancumprod(a)

array([ 1.,  2.,  2.,  8.])

## 내부의 원소를 숫자로 바꿀 경우 처리

In [19]:
help(np.nan_to_num)

Help on function nan_to_num in module numpy.lib.type_check:

nan_to_num(x, copy=True)
    Replace nan with zero and inf with finite numbers.

    Returns an array or scalar replacing Not a Number (NaN) with zero,
    (positive) infinity with a very large number and negative infinity
    with a very small (or negative) number.

    Parameters
    ----------
    x : array_like
        Input data.
    copy : bool, optional
        Whether to create a copy of `x` (True) or to replace values
        in-place (False). The in-place operation only occurs if
        casting to an array does not require a copy.
        Default is True.

        .. versionadded:: 1.13

    Returns
    -------
    out : ndarray
        New Array with the same shape as `x` and dtype of the element in
        `x`  with the greatest precision. If `x` is inexact, then NaN is
        replaced by zero, and infinity (-infinity) is replaced by the
        largest (smallest or most negative) floating point value that fits
        in the output dtype. If `x` is not inexact, then a copy of `x` is
        returned.

    See Also
    --------
    isinf : Shows which elements are positive or negative infinity.
    isneginf : Shows which elements are negative infinity.
    isposinf : Shows which elements are positive infinity.
    isnan : Shows which elements are Not a Number (NaN).
    isfinite : Shows which elements are finite (not NaN, not infinity)

    Notes
    -----
    NumPy uses the IEEE Standard for Binary Floating-Point for Arithmetic
    (IEEE 754). This means that Not a Number is not equivalent to infinity.


    Examples
    --------
    >>> np.set_printoptions(precision=8)
    >>> x = np.array([np.inf, -np.inf, np.nan, -128, 128])
    >>> np.nan_to_num(x)
    array([  1.79769313e+308,  -1.79769313e+308,   0.00000000e+000,
            -1.28000000e+002,   1.28000000e+002])

In [17]:
np.nan_to_num(a)

array([ 1.,  2.,  0.,  4.])

In [20]:
a

array([  1.,   2.,  nan,   4.])